@import url(text.css);
@import url(fx.css);

html, body {
  height: 100%;
}

body {
  transition: background-color 1s, color 1s, background-image 1s;
}

header {
  flex: 1;
}

section {
  flex: 8;
  overflow: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth !important;
}

section article {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 10rem;
}

footer {
  flex: 1;
}

.logo {
  margin-top: 30vh;
  margin-bottom: 40vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.shadow1 {
  text-shadow: 2px 2px 2px black;
}
.shadow2 {
  text-shadow: 6px 6px 6px black;
}

/* band goats */
#banda .col-12 {
  background-color: #333;
  height: 400px;
  background-size: cover;
  background-blend-mode: luminosity;
  opacity: 0.5;
  transition: opacity 1s;
}
#banda .col-12:hover {
  background-blend-mode: normal;
  opacity: 1;
}
#banda .bg1 {
  background-image: url(../img/goats/mikel.webp);
}
#banda .bg2 {
  background-image: url(../img/goats/mati.webp);
}
#banda .bg3 {
  background-image: url(../img/goats/vicho.webp);
}
#banda .bg4 {
  background-image: url(../img/goats/seba.webp);
}


/* section themes */
.theme-banda {
  background-color: #000;
}
.theme-banda, .theme-banda a {
  color: #fff;
}

.theme-musica {
  background-color: #2b0080;
  /* background-image: url(../img/zapata.png);
  background-repeat: no-repeat; */
}
.theme-musica, .theme-musica a {
  color: #a9a9a9;
}


@media (min-width: 768px) {
  #banda .roster {
    width: 80%;
  }

  #banda .col-12 {
    height: 25vw;
  }
}

@media (min-width: 990px) {
  #banda .roster {
    width: 60%;
  }
}