@import url(text.css);
@import url(fx.css);

html,
body,
.layout-main {
  height: 100%
}

body {
  background-color: black;
  color: #fff;
  margin: 0;
}

header,
footer {
  flex: 1
}

section {
  flex: 10;
  overflow: scroll;
  margin: 0 1em;
}

.layout-main {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-top: 1.5em;
  padding: 0;
}

.navigation li {
  flex: 1;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.logo {
  margin-top: 30vh;
  margin-bottom: 40vh;
}

.logo h1,
.logo h3 {
  text-align: center;
}

.content {
  margin-top: 5em;
}

.content img {
  margin: 1em auto;
  display: block;
}

@media (min-width: 600px) {
  :root {
    --base-size: 1rem;
    --scale: 1.35;
  }

  .layout-main {
    width: 80%;
    margin: auto;
  }

  .content img {
    max-width: 45%;
    float: left;
    margin-right: 1em;
  }
}

@media (min-width: 1000px) {
  :root {
    --base-size: 1.1rem;
    --scale: 1.4;
  }

  .layout-main {
    width: 60%;
    margin: auto;
  }

  .content img {
    max-width: 40%;
  }
}